<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>NotesSaver</title>
</head>
<style>
    body.dark {
            background-color: #1a202c;
            color: #cbd5e0;
        }
</style>

<body class=" dark">
    <div class="main w-full min-h-screen  p-10 text-white">
        <a href="/" class="text-blue-500 inline-block mb-10">Go back to home </a>
        <form action="/edit" method="post">
            <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-gray-800 text-white" type="text"
                placeholder="Previous name" name="previous" value="<%= filename %>">
            <input class="block w-1/4 rounded-md outline-none px-5 py-2 bg-gray-800 mt-2 text-white" type="text"
                placeholder="New name" name="new">

            <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md text-white" type="submit" value="Update Name">
        </form>
    </div>
</body>

</html>

